.slide-left-enter, .slide-right-leave-active {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  transition:all 0.5s ease;
  opacity:0;
}
.slide-left-leave-active, .slide-right-enter {
	opacity:0;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
   transition:all 0.5s ease;
}
